<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="bz.luoye.sample">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <application
        android:name=".BZApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.PathMeasureDemoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ViewDemoActivity"
            android:exported="false" />

        <activity android:name=".activity.FullVideoScreenActivity" />
        <activity android:name=".activity.AdjustVideoSpeedActivity" />
        <activity android:name=".activity.BZNativeVideoViewActivity" />
        <activity android:name=".activity.MultipleImageEffectActivity" />
        <activity android:name=".activity.ScaleAdjustmentActivity" />
        <activity android:name=".activity.AudioFeatureActivity" />
        <activity android:name=".activity.EffectsActivity" />
        <activity android:name=".activity.MultipleImageFilterActivity" />
        <activity android:name=".activity.VideoFilterActivity" />
        <activity android:name=".activity.ImageFilterDemoActivity" />
        <activity android:name=".activity.VideoPlayerActivity" />
        <activity android:name=".activity.GetImageFromVideoActivity" />
        <activity android:name=".activity.AudioPlayerActivity" />
        <activity android:name=".activity.Recorder4TextureActivity" />
        <activity android:name=".activity.Recorder4Camera2Activity" />
        <activity android:name=".activity.Recorder4BitmapActivity" />
        <activity android:name=".activity.RecorderTestActivity" />
        <activity android:name=".activity.Recorder4Camera1Activity" />
        <activity android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>